Skip to content
N3iV
/
react-vite-base
Private
Code
Issues
Pull requests
Actions
Projects
Security
Insights
More
react-vite-base/.gitignore
@N3iV
N3iV qrcheckin app
 History
 1 contributor
24 lines (22 sloc)  253 Bytes
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
react-vite-base/.gitignore at master · N3iV/react-vite-base
1